.tabs {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 5%;
    width: 100%;
    /*padding-bottom: 80px;
    height: 250px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;*/
}
.tabs input[name="tab-control"] {
    display: none;
}
.tabs .content section h2,
.tabs ul li label {
    /*font-family: "Montserrat";*/
    font-weight: bold;
    font-size: 18px;
    /*color: #428BFF;*/
}
.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.tabs ul li {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}
.tabs ul li label {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #cccccc;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs ul li label br {
    display: none;
}
.tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
    fill: #bec5cf;
}
.tabs .slider {
    position: relative;
    width: 25%;
    -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #428BFF;
    border-radius: 1px;
}
.tabs .content {
    margin-top: 30px;
    overflow: hidden;
}
.tabs .content section {
    display: none;
    -webkit-animation-name: content;
            animation-name: content;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    line-height: 1.4;
}
.tabs .content section h2 {
    /*color: #428BFF;*/
    display: none;
    margin: 5% auto;
}
/*.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #428BFF;
    margin-top: 5px;
    left: 1px;
}*/
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #2c3e50;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
    fill: #2c3e50;
}
@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
        /*background: rgba(0, 0, 0, 0.08);*/
        background-color: #ecf0f1;
    }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #2c3e50;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
    fill: #2c3e50;
}
@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
        /*background: rgba(0, 0, 0, 0.08);*/
        background-color: #ecf0f1;
    }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: #2c3e50;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
    fill: #2c3e50;
}
@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
        /*background: rgba(0, 0, 0, 0.08);*/
        background-color: #ecf0f1;
    }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: #2c3e50;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
    fill: #2c3e50;
}
@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
        /*background: rgba(0, 0, 0, 0.08);*/
        background-color: #ecf0f1;
    }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block;
  }
  @-webkit-keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @media (max-width: 1000px) {
    .tabs ul li label {
      white-space: initial;
    }
    .tabs ul li label br {
      display: initial;
    }
    .tabs ul li label svg {
      height: 1.5em;
    }
  }
  @media (max-width: 600px) {
    .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
    }
    .tabs ul li label span {
      display: none;
    }
    .tabs .slider {
      display: none;
    }
    .tabs .content {
      margin-top: 20px;
      overflow: hidden;
    }
    .tabs .content section h2 {
      display: block;
    }
  }  

  /** Second Page Tabs styling **/

  .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 1% 2% 23px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10%;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 10px;
    background: #ecf0f1;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #2980b9;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #33cccc;
  }
  
  .tabset > input:checked + label {
    /*border-color: #ccc;*/
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    color: #33cccc;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }

/** Extra Bits **/

.text-areas{
    padding: 5%;
    width: 100%;
    max-height: 600px;
    border: 1px solid #cccccc;
    margin-top: 5%;
}

.barcodeImg{
    width: 25px;
    float: left;
}

.diet-h3{
    float: left;
    margin: 0 15%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ecf0f1;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .checkbox-slider {
    background-color: #33cccc;
}

input:focus + .checkbox-slider {
    box-shadow: 0 0 1px #2980b9;
}

input:checked + .checkbox-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded checkbox-sliders */
.checkbox-slider.round {
    border-radius: 34px;
}

.checkbox-slider.round:before {
    border-radius: 50%;
}

.checkbox-div{
    margin-top: 5%;
}

.checkbox-container{
    display: inline-block;
    font-size: 12px;
    width: 49%;
}

/** Medication Tab Styling **/

