* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    background: #ffffff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.pre-container-wrapper{
    overflow-x: hidden;
    overflow-y: scroll;
    /*white-space: nowrap;*/
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    background-color: #fff;
    padding: 13% 0px !important;
    /*
    max-width: 100em;
    overflow: hidden;
    margin: 0 auto;
    top: 2%;*/
}

.header {
    color: #fff;
    background: #428BFF;
    padding: 1em 1.25em;
}

.default-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 9;
    background-color: #fff;
    padding: 5px 0;
    box-shadow: -2.213px 2.213px 2px 0px rgba(158, 158, 158, 0.3);
}

.sticky-wrapper {
    height: 48px !important;
}

.menu-bar {
    cursor: pointer;
}

.menu-bar span {
    color: #000;
    font-size: 24px;
}

.main-menubar {
    position: relative;
}

nav {
    margin-right: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform-origin: 100% 50%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.main-menubar {
    position: relative;
}

.toggle-content-1 {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
	display: block;
	height: auto;
}