* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background: #ffffff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}
.top-icons{
  font-size: 2rem;
}

.wrapper {
  width: 99%;
  height: 99%;
  background: #FDFEFF;
  transition: background .6s ease;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.wrapper .top-icons i {
  color: #080911;
  height: 30px;
  widows: 30px;
}
.wrapper .top-icons i:nth-of-type(1) {
  float: left;
}
.wrapper .top-icons i:nth-of-type(2) {
  float: right;
}
.wrapper .top-icons i:nth-of-type(3) {
  float: right;
  padding-right: .8rem;
}
.wrapper .profile {
  margin-top: 2.2rem;
  position: relative;
}
.wrapper .profile:after {
  width: 100%;
  height: 1px;
  content: ' ';
  display: block;
  margin-top: 1.3rem;
  background: #E9EFF6;
}
.wrapper .profile .check {
  position: absolute;
  right: 5rem;
  bottom: 12.7rem;
}
.wrapper .profile .check i {
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}
.wrapper .profile .thumbnail {
  width: 50%;
  height: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.wrapper .profile .name {
  color: #2D354A;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.wrapper .profile .title {
  color: #7C8097;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .7rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.wrapper .profile .description {
  color: #080911;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3rem;
}
.wrapper .profile .btn {
  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}
.wrapper .social-icons {
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;
}
.wrapper .social-icons .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .social-icons .icon a {
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.wrapper .social-icons .icon:nth-of-type(1) a {
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}
.wrapper .social-icons .icon:nth-of-type(2) a {
  background: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
}
.wrapper .social-icons .icon:nth-of-type(3) a {
  background: linear-gradient(to bottom right, #6452E9, #639FF9);
}
.wrapper .social-icons .icon h4 {
  color: #080911;
  font-size: 1rem;
  margin-top: 1.3rem;
  margin-bottom: .2rem;
}
.wrapper .social-icons .icon p {
  color: #666B7D;
  font-size: 12px;
}

.concept {
  position: absolute;
  bottom: 25px;
  color: #AAB0C4;
  font-size: .9rem;
  font-weight: 400;
}
.concept a {
  color: #ac1966;
  text-decoration: none;
}
.topLogo{
  float: right;
}
.topLogo img{
  height: 35px;
}
.logoImg{
  height: 45%;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-waiting-container{
  width: 100%;
  height: 100%;
  margin-top: 4.2rem;
  position: relative;
}

.no-waiting-cardImg{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgSizing{
  height: 50%;
  max-height: 400px;
}

.rotate{
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
}
.rotate90{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.bg{
    background-image: url("http://iscc-imgs.s3.amazonaws.com/no-waiting/FRENCH.jpg");
    background-repeat: no-repeat;
    height: 100%;
}
.bg-img{
  background-image: url("http://iscc-imgs.s3.amazonaws.com/no-waiting/FRENCH.jpg");
  background-clip: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
}

.scrolling-wrapper{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 5px 0;
}
.scrolling-card{
  display: inline-block;
  padding: 10px;
}