* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    background: #ffffff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 100%;
}

.pre-container-wrapper{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.content-container {
    width: 100%;
    background-color: #fff;
    padding: 45px 0px !important;
    /*
    max-width: 100em;
    overflow: hidden;
    margin: 0 auto;
    top: 2%;*/
}

.swipe-area{
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    height: 100%;
    /*background: #f3f3f3;*/
    z-index: 8;
}

.header {
    color: #fff;
    background: #775ba6;
    padding: 1rem 1.25rem;
}

.default-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    background-color: #414b76;
    padding: 3% 0;
    z-index: 9;
    /*
    box-shadow: -2.213px 2.213px 2px 0px rgba(158, 158, 158, 0.3);*/
}

.default-header::after{
    content: "";
    display: inline-block;
    width: 100%;
    border-bottom: 4px solid #d123bf;
    position: absolute;
    bottom: -3px;
}

.sticky-wrapper {
    height: 48px !important;
}

.menu-bar {
    cursor: pointer;
}

.menu-bar span {
    color: #000;
    font-size: 24px;
}

.main-menubar {
    position: relative;
}

.main-menubar img{
    max-width: 41%;
    width: 300px;
    margin-left: 60%;
}

nav {
    margin-right: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform-origin: 100% 50%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 250 width*/
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #414b76; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 2px 1px 15px rgba(65, 75, 118, 0.3);
    left: -260px;
}

/* The navigation menu links */
.sidenav-section{
    width: 100%;
    border-bottom: 1px solid #775ba6;
    font-size: 2rem;
    color: #ffffff;
    display: block;
    padding: 8px 8px 8px 22px;
}

.sidenav-section h2,
.sidenav-section h3,
.sidenav-section h4{
    padding: 8px 8px 8px 22px;
    font-weight: bold;
}

.sidenav a {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-size: 1.25rem;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a:focus {
    color: #d123bf;
    background-color: #2B3661;
}

.closebtn:hover, .closebtn:focus{
    color: #d123bf;
    background-color: #414b76 !important;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}

.sidenav .icon1{
    width: 15%;
    float: right;
    margin-right: 20%;
}

.sidenav .icon2{
    width: 15%;
    float: right;
    margin-right: 50%;
}

.sidenav .icon3{
    width: 15%;
    float: right;
    margin-right: 43%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

/*.main-menubar {
    position: relative;
}*/
img.toggle{
    max-width: 15%;
    width: 200px;
}
.toggle-content-1 {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
	display: block;
	height: auto;
}

.tab-grids{
	/*padding: 0 1em;
	margin: 1em 0 0 0;*/
	padding: 0 auto;
    margin: auto 0 0 0;
    position: relative;
}
.subtitle{
    /*padding: 5px 0;
    margin-top: 20px;*/
    font-style: italic;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
}
.subtitle-span{
    padding: 5px 1rem;
    background-color: #ffffff;
}
.subtitle:before {
    content:"";
    /*display: block;*/
    position: absolute;
    z-index:-1;
    bottom: 45%;
    left: 50%;
    width: 100%;   
    height: 1px; 
    transform: translate(-50%, -50%);
    border-bottom: 3px solid #2c3e50;
}
.second-sub{
    margin-top: -360px;
}

.tab-grid{
    display: block;
}

.tab-grid-content{
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

#tab-exhale img{
    width: 100%;
    border-radius: 3%;
}
#tab-exercise img{
    width: 100%;
}
#tab-stretch img{
    width: 100%;
}
.round-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.round-div{
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    /*margin: 7px 0 0 5px;
    float: left;*/
    background-size: cover;
    background-position: center center;
}
#tab-exhale h3{
	margin: 0;
    padding: 5%;
    font-size: 15px;
}
.h3-bg-color{
    background-color: #428BE8;
    border: 0.5px solid #fff;
}
.text-block {
    position: absolute;
    bottom: 9%;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.text-block2 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    padding: 10px 20px;
}
.exhale-img-first{
    float: left;
    width: 49%;
    margin-bottom: 2%;
    margin-right: 1%;
    position: relative;
}
.exhale-imgs{
    float: left;    
    width: 49%;
    margin-bottom: 2%;
    position: relative;
}
.exercise-img-first{
    /*float: left;
    width: 49%;
    margin-bottom: 2%;
    margin-right: 3%;*/
    position: relative;
    margin: 5%;
}
.exercise-img-first h3{
    color: #fff;
    position: absolute;
    bottom: 25%;
    left: 15%;
    padding: 5px;
    background-color: rgba(0,0,0,0.25);
}
.exercise-imgs{
    /*float: left;    
    width: 49%;
    margin-bottom: 2%;
    margin-right: 3%;*/
    position: relative;
    margin: 5%;
}
.exercise-imgs h3{
    color: #fff;
    position: absolute;
    bottom: 25%;
    left: 15%;
    padding: 5px;
    background-color: rgba(0,0,0,0.25);
}
.stretch-img-first{
    float: left;
    width: 100%;
    position: relative;
}
.stretch-imgs{
    float: left;    
    width: 100%;
    position: relative;
}

.left{float:left;/*width:100px;*/}
.right{float:right;/*width:100px;*/}
.center{margin:0 115px;/*width:100px;*/}
.exercise-pre-div{
    display: inline-block;
    margin: 0.5%;
}

.formRoundedFilled input[type="submit"] {
	display: block;
	color: #FFFFFF;
	background-color: #d123bf;
	text-align: center;
	vertical-align: middle;
	cursor: pointer; 
	border: 1px solid #414b76; 
	padding: 6px 16px; 
	font-size: 14px; 
    border-radius:4px;
    margin: 0 auto;
}
.formRoundedEmpty input[type="submit"] {
	display: block;
	color: #FFFFFF;
	background-color: #775ba6;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ecf0f1; 
	padding: 6px 16px; 
	font-size: 14px; 
    border-radius:4px;
    margin: 0 auto;
}