#videoContainer { 
	height: 24rem;
	background: none;
	margin-bottom: 20px;
	/*
	width: 40rem;
	margin: 20px auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;*/
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#videoContainer.fullScreen {
	width: 100vw !important;
	height: 100vh !important;
}

#videoContainer.small .intensityBar { width: 50px !important; }

#videoContainer.small .playButton {
	margin: 0 !important;
	margin-right: 5px !important;
} 
#videoContainer.small .playPause, #videoContainer.small .volume .icon, #videoContainer.small .scale .icon {
	width: 15px !important;
	height: 15px !important;
}

#videoContainer.small .progressBar { height: 6px !important; }

#videoContainer.small .overlay .button {
	width: 50px !important;
	height: 50px !important;
}

#videoContainer.small .time { display: none !important; }

#videoContainer .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    /*border-radius: 5px;
    background:none;*/
}

#videoContainer .overlay .button {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/media-player/video-icons/play-button.png);
	-webkit-background-size: 100%;
	-moz-background-size: 100%; 
	background-size: 100%;
	-webkit-transform: translate(-50%, calc(-50% - 30px));
	-moz-transform: translate(-50%, calc(-50% - 30px));
	-o-transform: translate(-50%, calc(-50% - 30px));
	-ms-transform: translate(-50%, calc(-50% - 30px));
	transform: translate(-50%, calc(-50% - 30px));
	cursor: pointer;
	-webkit-transition: width 0.2s, height 0.2s;
	-moz-transition: width 0.2s, height 0.2s;
	-o-transition: width 0.2s, height 0.2s;
	-ms-transition: width 0.2s, height 0.2s;
	transition: width 0.2s, height 0.2s;
}

#videoContainer .overlay .button:hover {
	width: 90px;
	height: 90px;
}

#videoContainer #video {
	width: 100%;
	height:100%;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;*/
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
    /*background: url(../img/media-player/video-icons/img1.jpg)no-repeat center;
    background-color: #333333;*/
    background-size: cover;
}

#videoContainer #video video {
	width: 100%; 
	position: absolute;
	top: 0;
	left: 0;
	/*border-radius: 5px;*/
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; 
}

#videoContainer #controls {
	width: 100%;
	height: 46px;
	/*background: #373c96; #428CD7*/
	position: absolute;
	right: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	z-index: 8;
}

#videoContainer #controls .playButton {
	width: 50px;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2px;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	/*border-bottom-left-radius: 5px;
	background: #428BFF;*/
}

#videoContainer #controls .playButton:hover { background: #33cccc /*#428BFF*/; }

#videoContainer #controls .playButton .playPause {
	width: 13px;
	height: 13px;
	background: url(../img/media-player/video-icons/play.png);
	-webkit-background-size: 100%;
	-moz-background-size: 100%; 
	background-size: 100%;
}

#videoContainer #controls .ProgressContainer {
	color: #fff;
	width: -webkit-calc(100% - 100px);
	width: calc(100% - 100px);
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

#videoContainer #controls .ProgressContainer .progressBar {
	width: 100%;
	height: 8px;
	/*background: #428BFF;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
	cursor: pointer;
	overflow: hidden;
}

#videoContainer #controls .ProgressContainer .progressBar:hover + .time {
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

#videoContainer #controls .ProgressContainer .progressBar .progress {
	width: 0%;
	height: 100%;
	background: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
}

#videoContainer #controls .ProgressContainer .timer {
	margin: 0 5px;
	font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 12px;
	font-weight: 300;
	color:#ffffff;
	letter-spacing: 1px;
}

#videoContainer #controls .ProgressContainer .time {
	width: 80px;
	height: 25px;
	/*background: #0a8796;*/
	position: absolute;
	top: -20px;
	left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	font-family: Arial, sans-serif;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-o-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: transform 0.3s, opacity 0.3s;
	-moz-transition: transform 0.3s, opacity 0.3s;
	-o-transition: transform 0.3s, opacity 0.3s;
	-ms-transition: transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

#videoContainer #controls .ProgressContainer .time::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 25px;
	left: 33px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #0a8796;
}

#videoContainer #controls .volume {
	width: 100px;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

#videoContainer #controls .volume .icon {
	width: 14px;
	height: 12px;
	background: url(../img/media-player/video-icons/volume.png);
	-webkit-background-size: 100%;
	-moz-background-size: 100%; 
	background-size: 100%;
	cursor: pointer;
	margin-right: 2px;
}

#videoContainer #controls .volume .intensityBar {
	width: 100px;
	height: 4px;
	/*background: #428BFF;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	max-width: 100px;
	overflow: hidden;
	transform-origin: right center;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

#videoContainer #controls .volume .intensityBar .intensity {
	width: 50%;
	height: 100%;
	background: #fff;
}

#videoContainer #controls .scale {
	width: 50px;
	height: 100%;
	/*background: #428BFF;*/
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s; 
	transition: all 0.4s;
	/*border-bottom-right-radius: 5px;*/
}

#videoContainer #controls .scale:hover { background: #33cccc /*#06a7bb*/; }

#videoContainer #controls .scale .icon {
	width: 15px;
	height: 15px; 
	background: url(../img/media-player/video-icons/expand.png);
	-webkit-background-size: 100%;
	-moz-background-size: 100%; 
	background-size: 100%;
} 